{% extends 'base.html' %}
{% block content %}
<h1>About Page</h1>

<h3>{{ title|capfirst|title }}</h3>

{{ my_html|striptags|slugify }}
<p>
  {{ my_number }},{{ my_list }}
</p>

<ul>
  {% for number in my_list %}
  {% if number == 113 %}
  <li>{{ forloop.counter }} - {{ number|add:22 }}</li>
  {% elif number == "Abc"%}
  <li>This is not the network</li>
  {% else %}
  <li>{{ forloop.counter }} - {{ number }}</li>
  {% endif %}
  {% endfor %}
</ul>
{% endblock %}